.navbar-inverse {
    background-color:#005580;
   background-image: none;
   background-repeat: no-repeat;
     color:#ffffff;
  }
  .navbar-inverse .navbar-nav > .active > a {
     color: #ffffff;
     background-color:transparent;
     
 }
 .navbar-inverse .navbar-nav > li > a:hover{
      text-decoration: none;
     
 }