
       <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mobile Cart</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            
          </ul>
        <!--/.nav-collapse -->
        <ul class="nav navbar-nav navbar-middle" style="color:white;margin-right:30px">
        <li><a href="Cart.html"><span class="glyphicon glyphicon-shopping-cart" style="color:white"></span></a></li>        
      </ul>
      </div>	  
    </nav>
    <div style="margin-top:7%">
      <h2 align="center">Your Favorite Online Mobile Shop!</h2>    
    </div>    
      <div class="container" style="padding-top:5%">
		<div class="row">
						<div class="col-md-4">
								<div style="text-align: center;">
                 <img src="assets/Sony_Xperia_Z2.png" style="height: 250px;">
								</div>
                       <div style="padding-top:10px;">
								<div style="cursor:pointer;color:Steelblue;text-align: center;"><b>
                                <span id="pName">Sony Xperia XZ2</span></b></div>
								<div style="padding-top:10px;padding-left: 101px;"><b>Price:</b>&nbsp; Rs.<span id="pPrice">59000</span></div>
                                <div style="padding-left: 100px;"><b>Status:</b><span id="pAvailable">Available</span></div>							
                                <div style="padding-left: 100px;"><b>Discount:</b><span id="pAvailable">{{discount}}</span></div>			
                       </div>
					  </div>
                                          
    </div>	             
    </div> 
