
       <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">          
          <a class="navbar-inverse" href="#">Mobile Cart </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-inverse" href="#">Home</a>
      </div>	  
    </nav>
    <div>
      <h2 align="center">Your Favorite Online Mobile Shop! {{mobiles[0].name}}</h2>    
    </div>    
      <div class="container" >
		<div class="row" >
						<div *ngFor="let mobile of mobiles" class="col-md-4" >
								<div style="text-align: center;">
                 <img src="{{mobile.image_path}}" style="height: 35vh;">
								</div>
                       <div>
								<div style="cursor:pointer;color:Steelblue;text-align: center;"><b>
                                <span id="pName">{{mobile.name}}</span></b></div>
								<div><b>Price:</b>&nbsp; Rs.<span id="pPrice">{{mobile.price}}</span></div>
                                <div><b>Status:</b><span id="pAvailable">Available</span></div>							
                                <div><b>Discount:</b><span id="pAvailable">{{calculatePrice(mobile.price)}}</span></div>			
                       </div>
					  </div>
                                          
    </div>	             
    </div> 
